body {
    background-image: url("../static/splash-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    font-family: Cantarell, Helvetica, Verdana, Sans-Serif;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Montserrat;
    font-variant: small-caps;
    font-size: 5em;
    color: white;
    letter-spacing: 20px;
    border-bottom: solid 1px #DDD;
    padding: 10px;
    margin-top: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 10px;
    margin: auto auto;
    cursor: pointer; cursor: hand;
}

.button:hover {
    background-color: #5EBF61;
}

#output {
    width: 60%;
    margin: 10px auto;
}

.loading-img {
    margin-top: 10px;
    display: none;
}

.ingredients-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px auto;
}

.ingredients-item {
    background-color: white;
    color: #444;
    padding: 5px 15px;
    border-radius: 50px;
    margin: 5px;
}

.description-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.description-item {
    font-size: 1.1em;
    margin-bottom: 10px;
    width: 100%;
}

.description-index {
    background-color: white;
    color: #444;
    border-radius: 100px;
    width: 22px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}