body {
    background-image: url("../static/splash-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    font-family: Cantarell, Helvetica, Verdana, Sans-Serif;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-variant: small-caps;
    font-size: 4em;
    color: #EEE;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 10px;
    margin: auto auto;
    cursor: hand;
}

.button:hover {
    background-color: #5EBF61;
}

#output {
    width: 60%;
    margin: 30px auto;
}

.ingredients-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px auto;
}

.ingredients-item {
    background-color: white;
    color: #222;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
}

.description-item {
    font-size: 1.1em;
    margin-bottom: 10px;
}
